<div class="card text-center" style="width: 700px;">
  <div class="card-header">
    Welcome to Optimissa
  </div>
  <div class="card-body">
    <h5 class="card-title">Optimissa, Capital Markets Consulting</h5>
    <p class="card-text">
      Optimissa is a consultancy firm specialised in the capital markets field, whose aim is to bridge the existing gap between technology and business.
    </p>
    <a href="#" class="btn btn-primary">Contact us</a>
    <br />
    <br />
    <img #img alt="OPTIMISSA" src="/assets/images/logo/primary_blackbg.png" />
  </div>
  <div class="card-footer text-muted">
    @copyright
  </div>

</div>
